# Dependencies
node_modules/
.npm/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Files
.DS_Store
Thumbs.db

# Build output
dist/
build/
.netlify/
.vercel/

# App Specific
utils/config.js
!utils/config.example.js
